fastapi[all]
uvicorn
gunicorn
pydantic
chromadb
httpx
pymupdf
python-dotenv
pytest
pytest-asyncio
pytest-cov
pytest-mock
requests
langchain
openai
pdfminer.six
python-docx
textract
pytesseract
pillow
beautifulsoup4
python-magic
python-pptx
docx2txt
pdf2image
openpyxl